@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
// Fonts goes here
$font: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
// Colors goes here
$primary: #131217;

body {
  background: #131217 !important;
}
.site_date_time {
  font-family: "Montserrat", serif;
  letter-spacing: 0.05rem;
}
.site_title {
  font-family: "Montserrat", serif;
  letter-spacing: 0.04rem;
  .nav {
  }
}

.main-screen {
  min-height: 70vh;
  max-height: 70vh;
}

.slides-main-screen {
  min-height: 70vh;
  max-height: 70vh;
}

.slides-details-div {
  font-family: "Montserrat", serif !important;
  background: #3a485c;
  h4 {
    font-family: "Montserrat", serif !important;
  }
}
.slides-details-div-para {
  font-size: 1.5vh;
}

.slide-main {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  text-align: center;
  -webkit-overflow-scrolling: touch;
  flex-direction: column;
}
h1 {
  width: 90%;
  margin: 0 auto;
  font-family: font;
  font-size: 8vh !important;
  color: #fff !important;
  font-weight: bold !important;
  margin-bottom: 0.5rem !important;
}
h3 {
  margin-top: 4vh;
  font-family: "Montserrat", font;
  color: red;
  font-weight: 600;
}

pre {
  flex-direction: column !important;
  margin-top: 3vh !important;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1rem !important;
  color: #fff;
  font-family: "Montserrat", serif !important;
  padding: 30px 50px 30px !important;

}
code {
    font-size: 2vh !important;
}

li {
  width: 85% !important;
  color: #fff;
  font-family: "Montserrat", serif !important;
  margin: 0 auto;
  margin-top: 4vh;
  text-align: left;
  display: inline;
  blockquote {
    width: 85% !important;
    margin: 0 auto;
    background: #28303e;
    margin-top: 2vh;
    margin-bottom: 2vh !important;
    // display: list-item;
    // list-style-type: disc;
    // list-style-position: inside;
    padding: 10px 10px 10px;
  }

  p {
    width: 85%;
    margin: 0 auto;
  }
}
